/* Header styles with ASCII art */
.site-header {
    border-top: none;
    border-bottom: none;
    // max-width: 1500px;
}

.site-title {
    letter-spacing: 2px;
    color: var(--primary-color);
}

.site-title:visited {
    color: var(--primary-color);
}

.site-nav .page-link {
    color: var(--text-color);
}